/* Archivo de estilos */

body {
  background-color: #F5F5F5;
}


/* #tabla{
    width: auto;
    height: auto;
} */


img.escudo{
  width: 70%;
}

#fondoesc{
	background: #04B7FA;
}

img.cc{
  width: 10%;
}

.header {
  text-align: center;
}

#name {
color: #282C34;
font-family: 'Ms Madi', cursive;
font-size: 50px;
}

.name {
color: #282C34;
font-family: 'Ms Madi', cursive;
font-size: 20px;
}

div.a {
  text-align: center;
}

.qgiscloud{
  width: 100% !important;
  height: 500px;

}

#titgeo{
color: #437A16;
background: #CDFEAA;
font-family: 'Square Peg', cursive;
font-size: 30px;
}

.licenciatura{ 
color: #ff0000;
background-color: #00ff00;
}

a:link {
	color: #47F700;
}

a: visited {
  color: #020202;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

.links {
background: #0B6602;
font-family: 'Square Peg', cursive;
font-size: 30px;
}
/* Estilo del título */
#titgeo{
	color: #10157A;
	background-color: #06F670;
	font-family: 'Macondo', cursive;
}

/* Estilo del nombre de la asignatura */
#titec{
	color: #10157A;
	background-color: #06F69F; 
	font-family: 'Macondo', cursive;
}

/*Estilo del nombre de licenciatura*/ 
#tilic{
	color: #0623F6;
	background-color: #06A6F6; 
	font-family: 'Macondo', cursive; 
}

#texto{
	color: #;
	background: #0FFA04;
	font-family: 'Odibee Sans', cursive;
font-size: 20px;

}